.or_address_info {
  display: flex;
}

.or_address_info .myaccount-content {
  background-color: #c4d0cb;
  padding: 10px 0 ;
  border-radius: 20px;
  height: initial;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.or_address_info .myaccount-address-text-1 {
  margin-left: 5px;
  font-weight: 500;
  font-size: 18px;
}

.or_address_info .myaccount-address-icon {
  width: 22px;
  height: 22px;
}
.or_address_info .myaccount-content-up-block {
  padding: 0;
  margin-right: 10px;
}
.or_address_info .myaccount-content-left{

}
.or_address_info .myaccount-content-up,
.or_address_info .myaccount-content-bottom {
  margin: 5px;
  margin-left: 40px;
}
 