.sc_summary {
  display: block;
  width: 522px;

  box-sizing: border-box;
  background: rgba(3, 61, 31, 0.15);
  box-shadow: 0px 3.3px 3.3px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 20px;
}

/* summary */
.sc_content_right_up {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #033d1f;
  margin-bottom: 4px;
}

.sc_content_right_middle {
  display: block;

  border: 2px solid #033d1f;
  border-left: 0;
  border-right: 0;
  padding: 36px 0px;
}

.sc_items_count_price {
  display: flex;
  justify-content: space-between;
}

.sc_give_code,
.sc_subtotal,
.sc_subtotal_value {
  padding: 20px 0px;
}

.sc_items_count,
.sc_items_price,
.sc_give_code,
.sc_total_saving,
.sc_subtotal,
.sc_total_saving_value,
.sc_subtotal_value {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: #033d1f;
}

.sc_promo_code {
  display: block;
}

.sc_give_code_wrap {
  display: flex;
  align-items: center;
}

/* promo code input */
.sc_give_code_wrap {
  margin-bottom: 20px;
}

.sc_given_code_input {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8.25px;
  width: 352px;
  height: 40px;
  border: 0;
  font-size: 18px;
  padding: 0 10px;
}

.sc_given_code_input:focus-visible {
  outline: 0;
}

.sc_given_code_buttom_wrap {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.sc_given_code_buttom {
  width: 100%;
  height: 100%;
}

.sc_promo_code_wrap {
  height: 5px;
}
.sc_content_right_bottom {
  display: block;
  margin-top: 36px;
}

.sc_content_right_bottom_total_saving,
.sc_content_right_bottom_subtotal {
  display: flex;
  justify-content: space-between;
}

.sc_checkout_wrap {
  display: flex;
  justify-content: center;
}

.sc_checkout {
  display: inline-block;
  text-decoration: none;

  width: 328px;
  height: 66px;
  background: #033d1f;
  border-radius: 12px;

  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;

  text-align: center;
  line-height: 66px;
}

.sc_checkout:hover {
  color: white !important;
}
