.myaccount-nav-wrap{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;

    width: 20%;
    height: 500px;
    border-radius: 20px;
    background-color: #033D1F;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

}

.myaccount-nav-tab{
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid #C4D0CB;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.myaccount-nav-tab:hover{
    cursor: pointer;
    background-color: #C4D0CB;
    border-radius: 20px;
    color: white;
}

.myaccount-nav-title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-align: center;

    margin: 10px;
    color: white;
}

.myaccount-nav-title:hover {
    color: white
  }