.or_delivery_content {
  margin-bottom: 20px;
}

/* 左侧正文格式 */
.or_standard_shipping_name,
.or_shipping_service_price {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #033d1f;
}

.or_delivery_desc {
  display: flex;
  justify-content: space-between;
}

.popover_rapid_shipping {
  width: 300px;
}

.or_standard_shipping_desc_left {
  display: flex;
  align-items: center;
}

.or_shipping_service_info {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.or_standard_rapid_shipping_wrap {
  display: flex;
  align-items: center;
}

.or_standard_shipping_rapid_icon,
.or_standard_shipping_rapid_note {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.or_standard_shipping_rapid_note img,
.or_standard_shipping_rapid_icon img {
  width: 100%;
  height: 100%;
}

.or_information_note {
  width: 100%;
  height: 100%;
}
