.productdetail-wrap {
  font-family: "Kaisei Opti";
  color: #033d1f;
}

.pd_bread_crumb {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2%;
  margin-top: 16px;
}

.pd_bread_crumb a:visited {
  color: #033d1f;
}

.pd_content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10pt auto; 
  width: 94%;
  gap: 10pt;
}

.pd_content_top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2%;
}

.pd_top_left{
  width: 50%;
  margin: auto 0;
  background-color: rgba(3, 61, 31, 0.06);
}

.pd_top_left img{
  max-height: 300px;
  width: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}

.pd_top_right{
  min-width: 300px;
  width: 50%;
  float: left;
}

.pd_top_right .sc_nutri{
  margin: 30px 0;
  width: 25%;
  height: auto;
}

.pd_top_right_bottom{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  gap: 2%;
}

.pd_top_right_bottom .left{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.pd_top_right_bottom .left .price{
  font-size: 20px;
}

.pd_top_right_bottom .left .available{
  font-size: 13px;
}

.pd_top_right_bottom .right{
  width: 25%;
}

.right .sc_item_count_wrap {
  width:100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 28px;
  border-radius: 11.9559px;
}

.right .sc_item_count_minus,
.right .sc_item_count_plus {
  width: 28%; 
  text-align: center;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 28px; 
  color: white;
  background-color: #033D1F;
  /* mini hand */
  cursor:pointer;
  /* front not be selected */
  user-select: none;
}

.right .sc_item_count_minus{
  border-radius: 11.9559px 0 0 11.9559px;
}

.right .sc_item_count_plus{
  border-radius: 0 11.9559px 11.9559px 0;
}

.right .sc_item_count {
  box-sizing: border-box;
  font-size: 18px;
  color: #033D1F;
  padding: 0 15%;
}

.pd_content_bottom{
  display: flex;
  flex-direction: column;
}

.info{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: -12px;
}

.pd_content_bottom .ant-collapse {
  background-color: transparent;
  margin-top: 1.5%;
}

.pd_content_bottom .ant-collapse-item {
  width: 100%;
  box-sizing: border-box;
  background: rgba(3, 61, 31, 0.06);
  border-radius: 11.25px !important;
}

.pd_content_bottom .ant-collapse-header {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  color: #033d1f !important;
}

.pd_content_bottom p{
  font-family: "Kaisei Opti";
  font-style: normal;
  color: #033d1f !important;
  font-size: 16px;
}

.table .ant-table{
  margin-top: 1.5%;
  border: none;
}

.ant-table-cell {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-size: 16px;
  color: #033d1f !important;
}

.ant-table-tbody > tr > td {
  border-color: rgba(3, 61, 31, 0.15);
}

.row {
  display: flex;
  gap: 5%;
  margin-top: -5px;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon .img {
  width: 100%;
  height: 100%;
}