.alternative-wrap{
    display: flex;
    justify-content: center;
}

.alternative-nav{
    width: 95%;
    display: flex;
    flex-direction: row;
}

.alternative-nav-tabs{
    display: flex;
    flex-direction: column;
}

.alternative-nav-row{
    display: flex;
    flex-direction: row;
}

.alternative-tab-item{
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.alternative-tab-icon{
    height: 120px;
    width: 120px;
}

.alternative-panels{
    margin-left: 20px;
    width: 100%;
}

.alternative-product{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin-top: 5px;

    flex-wrap: wrap;
    width: 100%;
}

.alternative-product .product{
    width: 19%;
    min-width: 120px;
}