.alternative-wrap{
    display: flex;
    justify-content: center;
}

.alternative-nav{
    width: 95%;
    display: flex;
    flex-direction: row;
}

.alternative-nav-tabs{
    display: flex;
    flex-direction: column;
}

.alternative-nav-row{
    display: flex;
    flex-direction: row;
}

.alternative-tab-item{
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.alternative-tab-icon{
    height: 120px;
    width: 120px;
}

.alternative-panels{
    display: flex;
    margin-left: 20px;
    width: 100%;
}

.alternative-panel-text{
   text-align: center;
   align-items: center;
   margin: auto;
   font-family: 'Kaisei Opti';
   font-style: normal;
   color: #033D1F;
   text-align: center;
   font-weight: 600;
   font-size: 20px;
}

.alternative-product{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin-top: 5px;

    flex-wrap: wrap;
    width: 100%;
}

.alternative-product .product{
    width: 19%;
    min-width: 120px;
}