.category-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Kaisei Opti';
  font-style: normal;
  color: #033D1F;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.category{
  display: flex;
  flex-direction: column;
  width: 16%;
  min-width: 110px;
  height: auto;
  margin-right: 2%;
  margin-left: 2%;
}

.category-icon{
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 2%;
}

.category-icon.staple-non-chosen{
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/staple_icon.png") center no-repeat;
  background-size: 70%;
}

.category-icon.staple-chosen{
  transition: 0.2s;
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/staple_hover.png") center no-repeat;
  background-size: 70%;
}

.category-icon.snacks-non-chosen{
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/snacks_icon.png") center no-repeat;
  background-size: 70%;
}
.category-icon.snacks-chosen{
  transition: 0.2s;
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/snacks_hover.png") center no-repeat;
  background-size: 70%;
}

.category-icon.drinks-non-chosen{
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/drinks_icon.png") center no-repeat;
  background-size: 70%;
}
.category-icon.drinks-chosen{
  transition: 0.2s;
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/drinks_hover.png") center no-repeat;
  background-size: 70%;
}

.category-icon.flavorings-non-chosen{
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/flavorings_icon.png") center no-repeat;
  background-size: 70%;
}
.category-icon.flavorings-chosen{
  transition: 0.2s;
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/flavorings_hover.png") center no-repeat;
  background-size: 70%;
}

.category-icon.supplements-non-chosen{
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/supplements_icon.png") center no-repeat;
  background-size: 70%;
}
.category-icon.supplements-chosen{
  transition: 0.2s;
  background: rgba(3, 61, 31, 0.06) url("../../assets/images/category/supplements_hover.png") center no-repeat;
  background-size: 70%;
}



/*  
.category-text p{
  float: left;
  margin-top: 0.5%;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 0.5%;
  width: 12%;

  text-align: center;
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #033D1F;
}

.category-icons{

}

.category-icon{
  float: left;
  border-radius: 50%;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  
  margin-right: 4%;
  margin-left: 4%;

  text-align: center;
  text-decoration: none;
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #033D1F;
}
*/