.myaccount-order{
    background-color: #C4D0CB;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 250px;
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myaccount-order-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-left: 30px;
}

.myaccount-order-text{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  
    color: #033D1F;
}

.myaccount-order-row{
    display: flex;
    flex-direction: row;
}

.myaccount-order-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}