.product{
  display: flex;
  flex-direction: column;

  float: left;
  /* margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%; */
  width: 200px;

  padding: 1%;

  box-sizing: border-box;
  background: #E9EDEB;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11.25px;
}
.product a{
  text-decoration: none;
}

.product-test-img{
  background: transparent url(https://images.openfoodfacts.org/images/products/401/933/963/6107/front_de.22.400.jpg) center no-repeat;
  background-size: cover;
  width: 94%;
  margin: 3%;
  height: 9vw;
}

.product-name{
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  /* assume the product name occupies maximal 4 rows */
  height: 8vh;

  text-align: left;
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  color: #033D1F;
}

.product-name:hover, .product button:hover{
  filter:brightness(2.5);
}

.product-other-content{
  display: flex;
  flex-direction: row;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.product-other-content .sc_nutri{
  width: 50%;
  height: auto;
}

.product-right-buttom{
  width: 45%;
  margin-left: 5%;
  display: flex;
  float: right;
  flex-direction: column;
}

.product-unitprice{
  text-align: right;
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vh;
  align-items: center;
  color: #033d1f;
}