.add_container{
    width: 100%;
    min-height: 30px;
    background: #033d1f;
    border: none;
    border-radius: 11.9559px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_container button{
    width: 100%;
    height: 70%;
    border: none;
    background: transparent url("../../assets/images/add_to_shoppingcart.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
}

.add_container.disabled{
    opacity: 0.6;
}

.add_container.disabled button{
    cursor: not-allowed;
}

.add_container:hover{
    filter:brightness(1.4);
}