.myaccount-address-wrap{
    width: 100%;

    display: flex;
    flex-direction: row;
}

.myaccount-address-page{
    margin: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.myaccount-title{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    margin-top: 15px;
}

.myaccount-title-1{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
  
    color: #033D1F;
}
  
  .myaccount-title-2{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
  
    color: #4D4D4D;
}