.table {
    width: 96%;
    margin: 20px auto;
    border: none;
    /* render line breaks in the table */
    white-space: pre-line;
}

.table a {
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

table a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  
table a:active {
    color: rgba(0, 0, 0, 1);
}

.operation-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loading {
    width: 96%;
    margin: 42vh auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loading p{
    font-family: "Kaisei Opti";
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    color: #033d1f;
}