.login-form-item {
    border: none;
  }
  
.login-form-item{
    margin-bottom: -10px;
}
  
.login-form-button {
    display: block;
    margin: 0 auto;

    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #033D1F;
    color: white;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }

.login-form-button:hover{
    cursor: pointer;
    color: inherit;
}

.login-form-input {
    width: 300px;
    height: 40px;
  }