.footer-container{
    width: 100%;
}

/* background */
.footer-background{
    background-color: #033D1F;
    width: 100%;
}

/* font */
.footer-text{            
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;

    font-family: 'Kaisei Opti';
    color: white;
    text-align: center;
}
        
/* logo */
.footer-logo{
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo-img{
    height: 100px;
    max-width: 150px;
    object-fit: cover;
}