@font-face {
  font-family: "flower";
  src: url("../../assets/font/Hanston Demo.otf");
}

/* Outside Wrap */
.welcomepage_wrap {
  background-image: url("../../assets/images/welcomepage_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 0.48rem;

  /* wel-left,right devided */
  display: flex;
  justify-content: space-between;
}

.wel_left {
  /* Level：1 */
  z-index: 1;
  width: calc((100% - 0.4rem) / 2);
  margin-right: auto;
}

.wel_right {
  /* Level：1 */
  z-index: 1;
  width: calc((100% - 0.4rem) / 2);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.whiteboard {
  z-index: 0;
  position: absolute;
  left: 0.38rem;
  right: 0.38rem;
  top: 0.38rem;
  bottom: 0.38rem;

  /* weight & height depends on outside wrap */
  width: calc(100% - 0.76rem);
  height: calc(100vh - 0.76rem);
  min-height: 4rem;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 0.3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wel_feature {
  width: 100%;
  height: calc((100vh - 1.5rem) / 5);
  /* line-height: .46rem;  */
  box-sizing: border-box;
  margin-bottom: 0.32rem;
  min-height: 0.7rem;
  max-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.2rem;
  padding: 0 0.6rem;

  /* front style */
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 500;
  font-size: 0.28rem;
  text-align: center;
  color: #ffffff;
}

/* feature 4 color */
.wel_feature:nth-of-type(1) {
  background: rgba(16, 138, 75, 0.8);
}
.wel_feature:nth-of-type(2) {
  background: rgba(116, 195, 51, 0.8);
}
.wel_feature:nth-of-type(3) {
  background: rgba(250, 198, 7, 0.8);
}
.wel_feature:nth-of-type(4) {
  background: rgba(243, 114, 22, 0.8);
}

/* buttom wrap */
.wel_btn_wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 0.42rem;
}

.login,
.register {
  width: 1.88rem;
  height: 0.84rem;
  line-height: 0.84rem;

  background-color: #ffffff;
  text-align: center;
  border-radius: 0.1rem;

  /* front style */
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 700;
  font-size: 0.24rem;
  text-transform: capitalize;
  color: #033d1f;
}

.login a:visited,
.register a:visited,
.guest a:visited {
  color: #033d1f;
}

.login a:link,
.register a:link,
.guest a:link {
  color: #033d1f;
  text-decoration: none;
}

.login a:hover,
.register a:hover,
.guest a:hover {
  filter: brightness(2);
}

.guest {
  /* right  */
  text-align: right;
  margin-top: 0.16rem;

  height: 0.26rem;
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 400;
  font-size: 0.22rem;
  line-height: 0.23rem;
  text-decoration-line: underline;
  color: #033d1f;
}
/* HealthFuel365 title */
.wel_titel {
  font-family: "flower";
  font-style: normal;
  font-weight: 500;
  font-size: 1.28rem;
  line-height: 1.2rem;
  color: rgba(3, 61, 31, 0.8);
  margin-left: 0.90rem;
}

/* HealthFuel365 slogan */
.wel_slogan {
  text-align: right;

  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 500;
  font-size: 0.26rem;
  line-height: 0.35rem;
  color: rgba(3, 61, 31, 0.8);
}
