.allproductspage-wrap{
}

.content-container{
    /* 横行布局，两端对齐 */
    display: flex;
    justify-content: space-between;
    /* 布局充满整个容器 */
    flex: 1;
    width: 100%;
}

/* 用于sort和filter*/
.content-left{
  position: absolute;
  width: 15%;
  height: 1200px;
  padding: 16px;
  margin-top: 3%;
  margin-left: 3%;
  
  box-sizing: border-box;
  background: rgba(3, 61, 31, 0.06);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11.25px;
}

/* 用于category 和 product */
.content-right{
  display: flex;
  flex-direction: column;
  
  position: absolute;
  width: 77%;
  height: 1200px;
  padding: 16px;
  margin-top: 3%;
  margin-left: 20%;

  box-sizing: border-box;
  background: rgba(3, 61, 31, 0.06);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11.25px;
}

.category-container{
}

.product-container{
  margin-top: 2%;

  box-sizing: border-box;
  background: rgba(3, 61, 31, 0.06);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11.25px;
}