
.or_additional_service_title {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #033d1f;
}

.or_additional_shipping_name,
.or_additional_service_price {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #033d1f;
}

.or_additional_service { 
  border: 2px solid #033d1f;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  /* padding: 20px 0px; */
  padding-top: 20px;
}

.popover_additional_shipping {
  width: 300px;
}

.or_additional_service_content {
  display: flex;
  justify-content: space-between;
}

.or_additional_service_info {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.or_additional_shipping_wrap {
  display: flex;
  align-items: center;
}

.or_additional_service_desc {
  display: flex;
  align-items: center;
}

.or_additional_service_choice {
  margin-right: 10px;
}

.or_additional_shipping_icon,
.or_additional_shipping_note {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.or_additional_shipping_icon img,
.or_additional_shipping_not img {
  width: 100%;
  height: 100%;
}

.or_information_note {
  width: 100%;
  height: 100%;
}


.or_additional_service input[type="radio"]:checked{
  border: 5px solid #033D1F;
}

/* customized checkbox */
.or_additional_service input[type=checkbox]{
  visibility: hidden;
  cursor: pointer;
  margin-left: 1pt;
}

.or_additional_service input[type=checkbox]:after{
  display: block;
  visibility: visible;
  content: "";
  width: 17px;
  height: 17px;
  background: rgba(3, 61, 31, 0.15);
}

.or_additional_service input[type=checkbox]:checked:after {
  content: "x";
  font-size: 16px;
  text-align: center;
  align-items: center;
  background: rgba(3, 61, 31, 0.15);
}
