.myaccount-page{
    min-height: 100%;
}

.myaccount-wrap{
    display: flex;
    flex-direction: row;
}

.myaccount-nav{

    margin-top: 20px;
    margin-left: 10px;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    background-color: #033D1F;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;
}

.myaccount-body{

    margin-top: 20px;
    margin-left: 30px;

}

.myaccount-information{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 20px;
    align-items: center;
}

.myaccount-avatar{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: white;
}

.myaccount-information-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myaccount-userinfo{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    margin: 10px;
  
    color: white;
}

.myaccount-tablist{
    margin-bottom: 20px;

}

.myaccount-nav-title{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    margin: 10px;
  
    color: white;
}

.myaccount-nav-tab:hover{
    cursor: pointer;
}

.myaccount-title{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    margin-top: 15px;
}

.myaccount-title-1{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
  
    color: #033D1F;
  }
  
  .myaccount-title-2{
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
  
    color: #4D4D4D;
  }

.myaccount-content{
    background-color: #C4D0CB;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 150px;
    width: 1000px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-content-left{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.myaccount-content-up{
    margin: 10px;
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-address-icon{
    width: 30px;
    height: 30px;
}

.myaccount-content-up-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.myaccount-address-text-1{
    margin-left: 10px;
    
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
  
    color: #033D1F;
}

.myaccount-content-bottom{
    margin: 10px;
    margin-left: 60px;

    display: flex;
    flex-direction: row;
}

.myaccount-edit{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: #033D1F;
    color: white;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.myaccount-delete{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: rgb(217, 19, 19);
    color: white;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.myaccount-edit:hover{
    cursor: pointer;
}

.myaccount-add-address-button{
    background-color: #C4D0CB;
    height: 60px;
    width: 1000px;
    border-radius: 20px;
    border: none;
    align-items: center;

    color: #033D1F;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.myaccount-add-address-button:hover{
    cursor: pointer;
}

.myaccount-button-block{
    margin: 10px;
}

.myaccount-profile-block{
    background-color: #C4D0CB;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 300px;
    width: 1000px;

    display: flex;
    flex-direction: column;
}

.myaccount-profile-block-1{
    margin-left: 30px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-profile-block-2{
    margin-left: 30px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
}

.myaccount-profile-block-3{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-preference-list{
    margin-top: -8px;
}

.myaccount-order{
    background-color: #C4D0CB;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 150px;
    width: 1000px;

    display: flex;
    flex-direction: row;
    align-items: center;
}