.myaccount-content{
    background-color: #C4D0CB;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 150px;
    width: 1000px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-content-left{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.myaccount-content-up{
    margin: 10px;
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-address-icon{
    width: 30px;
    height: 30px;
}

.myaccount-content-up-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.myaccount-address-text-1{
    margin-left: 10px;
    
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
  
    color: #033D1F;
}

.myaccount-content-bottom{
    margin: 10px;
    margin-left: 60px;

    display: flex;
    flex-direction: row;
}

.myaccount-edit{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: #033D1F;
    color: white;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.myaccount-delete{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: rgb(217, 19, 19);
    color: white;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.myaccount-edit:hover{
    cursor: pointer;
}