.wel_login {
    /* Level：1 */
    z-index: 1;
    width: calc((100% - 0.5rem) / 2);
    margin: auto 0.3rem;
  }
  
.wel_login_right {
    /* Level：1 */
    z-index: 1;
    width: calc((100% - 0.5rem) / 2);
    margin:auto 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}