.profile-wrap{
    display: flex;
    justify-content: center;
    background-color: #E7EBE9;
    width: 100%;
}

.profile-form{
    margin-top: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-block{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    min-height: 120px;
    width: 95%;
    overflow-y:auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-block-wider{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    min-height: 180px;
    width: 95%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-block-top{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-questions{
    margin-left: 20px;
    margin-top: 15px;

    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
  
    color: #033D1F;
}

.profile-answer{
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.profile-answers{
    margin-left: 10px;

    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
  
    color: #033D1F;
}

.profile-submit{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: #033D1F;
    color: white;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.profile-privacy{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disabled-button {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }

.disabled-button:hover {
    cursor: not-allowed;
}