.ant-radio-wrapper.ant-radio-wrapper-disabled .ant-radio-inner {
    border-color: #033D1F;
}

.ant-radio-wrapper.ant-radio-wrapper-disabled .ant-radio-inner::after {
    background-color: #033D1F;
}

.ant-radio-wrapper:not(.ant-radio-wrapper-disabled) .ant-radio-inner {
    background-color: white;
    border-color: white;
    border-color: #033D1F;
}

.ant-radio-wrapper:not(.ant-radio-wrapper-disabled) .ant-radio-inner::after {
    background-color: #033D1F;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #033D1F;
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
    background-color: #033D1F;
  }
  
  .ant-checkbox:hover .ant-checkbox-inner::after {
    background-color: #033D1F;
  }
  
  .ant-checkbox-disabled .ant-checkbox-inner::after {
    border-color: white;
  }

.myaccount-address-text-1{
    margin-left: 10px;
    
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
  
    color: #033D1F;
}

.my-profile-wrap{
    width: 100%;
    min-width: 110px;
}

.my-profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.myaccount-profile-block{
    background-color: #C4D0CB;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

.myaccount-profile-block-wider{
    background-color: #C4D0CB;
    border-radius: 20px;
    height: 180px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.myaccount-profile-block-1{
    margin-left: 60px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-profile-block-2{
    margin-left: 60px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
}

.myaccount-profile-block-3{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.myaccount-profile-block-4{
    width: 100%;
    display: flex;
    flex-direction: row;

    padding: 10px;
}

.myaccount-profile-block-5{
    width: 60%;
}

.myaccount-preference-list{
    margin-top: -8px;
}

.myaccount-profile-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myaccount-profile-button-div{
    width: 20%;
}

.edit-button{
    background-color: green;
}