.or_summary {
    font-family: "Kaisei Opti";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #033d1f;
    margin-bottom: 4px;
  }
  
  .or_content_right_up,
  .or_content_right_middle {
    display: block;
    justify-content: space-between;
   
    border: 2px solid #033d1f;
    border-left: 0;
    border-right: 0;
    padding: 26px 0px;
  }
  
  .or_content_right_middle {
    border-top: 0;
    display: block;
  }
  
  .or_content_right_bottom {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
  }
  
  .or_content_right_up_item_price,
  .or_content_right_up_totalsaving,
  .or_content_right_middle_subtotal,
  .or_content_right_middle_shipping,
  .or_content_right_middle__additional_service {
    display: flex;
    justify-content: space-between;
  }
  
  .or_items_count,
  .or_total_saving,
  .or_items_price,
  .or_total_saving_value,
  .or_subtotal,
  .or_shipping,
  .or_summary_additional_service,
  .or_subtotal_value,
  .or_shippingl_value,
  .or_summary_additional_servicel_value,
  .or_totalprice_bottom {
    font-family: "Kaisei Opti";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #033d1f;
  }
  
  .or_totalprice_up,
  .or_totalprice_value {
    font-family: "Kaisei Opti";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #033d1f;
  }
  
  .or_pay {
    width: 328px;
    height: 66px;
    background: #033d1f;
    border-radius: 12px;
  
    font-family: "Kaisei Opti";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
   
    text-align: center;
    line-height: 66px;
   
    margin: 0px auto;
  }
   
  .or_pay a,
  .or_pay a:visited {
    color: #ffffff;
    text-decoration: none;
  }